@import "../../style/color.scss";
@import "../../style/fonts.scss";

.UsersList {
    height: inherit;
    border-right: 2px solid $color-grey;
}

.UsersList--title {
    @include font(16px,30px,bold,$color-black);
    border-bottom: 2px solid $color-grey;
    height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
}

.Userlist--username {
    display:none;
}

.UsersList--users {
    cursor: pointer;
    background: $color-white;
}

@media (max-width: 767px) {
    .UsersList {
        border: none;
    }

    .UsersList--title {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        white-space: nowrap;
    }

    .Userlist--username {
        @include font(14px,30px,normal,$color-black);
        display: inline;
        margin-left: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .UsersList--users {
        display: none;
        width: 100%;
        position: absolute;
    }
    
    .UsersList--users-active {
        display: block;
    }
}