@import "../../style/color.scss";
@import "../../style/fonts.scss";

.MessagesList {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
    overflow: auto;
    overflow-x: hidden;
    background: $color-lightgrey;
    height: 88%;
    border-bottom: 2px solid $color-grey;

}

.MessagesList--message {
    display: flex;
    align-items: flex-end;
    max-width: 50%;
    margin-bottom: 10px;
}

.MessagesList--text {
    position: relative;
    display: inline-block;
    @include font (13px,16px,normal,$color-white);
    margin: 0;
    background: $color-blue;
    padding: 10px 5px;
    border-radius: 6px;
    width: inherit;
    word-wrap: break-word; //TODO: посмотреть, работает ли в ie
    word-break: break-word;
    text-align: left;
    &::after {
        content: '';
        right: -10px;
        position: absolute;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid $color-blue;
    }
}

.MessagesList--photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .MessagesList {
        height: 385px;
    }

    .MessagesList--message {
        max-width: 75%;
    }
}